.chat-panel-container {
    display: grid;
    height: 100%;
    grid-template-rows: 4.1em 1fr 4.5em; 
}


.chat-panel-menu {
    display: flex;
    background-color: aqua;

    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    align-items: center;
}

.chat-panel-menu img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.chat-panel-menu p {
    margin: 0;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 17px;
}

.chat-panel-messages-container {
    overflow: auto;
    max-height: calc(96vh - 8.6em); 
}

.chat-panel-messages {    
    padding-left: 3rem;
    padding-right: 3rem;

    padding-top: 3rem;
    
    display: flex;
    flex-direction: column;

    margin: 0;

    list-style-type: none;
}

.chat-panel-textbox textarea {
    border-radius: 5px;
    border: 0px;
    
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    width: 90%;
    height: 1.5rem;
    max-height: 4rem;

    overflow: hidden;
    resize: none;

    font-size: 1.2rem;
}

.chat-panel-textbox .icon {
    margin-right: 1rem;
    font-size: 30px;
}

.chat-panel-textbox textarea:focus{
    outline: none;
}

.chat-panel-textbox {
    width: auto;

    padding-left: 2rem;
    padding-right: 2rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: aquamarine;


    display: flex;

    align-items: center;
}

.message-box {
    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-bottom: 0.2rem;
}

.chat-panel-sent {
    border-radius: 5px 0px 5px 5px;
    align-self: flex-end;
    background-color: greenyellow;
}

.chat-panel-received {
    border-radius: 0px 5px 5px 5px;
    align-self: flex-start;
    background-color: wheat;
    color: black;
}