.chat-panel-container {
    display: flex;
    flex-direction: column;
    height: 96vh;
}

.chat-panel-menu {
    flex-basis: 4.1em;
    flex-shrink: 0;
    color: #e9edef;

    display: flex;
    background-color: #1f2c33;

    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    align-items: center;
}

.chat-panel-menu img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.chat-panel-menu p {
    margin: 0;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 17px;
}

.chat-panel-messages-container {
    flex-basis: calc(96vh - 8.1em);
    flex-shrink: 1;
    overflow: auto;
}

.chat-panel-messages {    
    padding-left: 3rem;
    padding-right: 3rem;

    padding-top: 3rem;
    padding-bottom: 1.5rem;
    
    display: flex;
    flex-direction: column;

    background-color: #0c141a;

    margin: 0;

    list-style-type: none;
}

.chat-panel-textbox .icon {
    margin-right: 1rem;
    font-size: 30px;
}

.chat-panel-textbox {
    flex-basis: 4.1em;
    flex-grow: 1;
    flex-shrink: 0;

    width: auto;
    height: auto;

    padding-left: 2rem;
    padding-right: 2rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: #1f2c33;

    display: flex;

    align-items: center;
}

.message-box {
    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-bottom: 0.2rem;

    color: #e9edef;
}

.chat-panel-sent {
    border-radius: 5px 0px 5px 5px;
    align-self: flex-end;
    background-color: #015c4b;
}

.chat-panel-received {
    border-radius: 0px 5px 5px 5px;
    align-self: flex-start;
    background-color: #1f2c33;
}

.chat-panel-textbox-container {
    width: 500px;
    min-width: 20px;
    box-sizing: border-box;
    padding: 9px 18px 11px;
    margin: 5px 10px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 21px;
}

.chat-panel-textbox-group {
    position: relative;
}

#chat-panel-input-text {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
    max-height: 100px;
    min-height: 20px;
    padding: 0 0 0 2px;
    outline: 0;
    transition: 0.2s padding ease-in-out;
}

.chat-panel-placeholder {
    color: #a0a0a0;
    top: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    opacity: 0;
    transition: 0.2s padding ease-in-out;
}