.chat-summary-section{
    display: flex;
    flex-direction: row;

    color: #e9edef;
}

.chat-summary-section:hover section {
    background-color: rgb(112,108,108);
}

.chat-summary-text {
    border-bottom: 1px solid #2a3942;

    display: flex;
    flex-grow: 1;
    flex-direction: column;

    justify-content: center;

    height: auto;
}

.chat-summary-section img {
    width: 50px;
    border-radius: 50%;

    margin: 0.5em 1em 0.5em 1em;
}

.chat-summary-section p {
    margin: 0;
}

.chat-summary-name {
    font-size: 19px;
    font-weight: 300;
}

.last-message {
    margin-top: 2px;
    font-size: 16px;
    font-weight: 200;

    color: #8696a0 ;
}